<!DOCTYPE html>
<html>
  {{> header}}
  <center>
  <body>
    <h1>{{screamIt pageTitleHome}}</h1>
    <p>Some text here</p>

    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    
  </body>
  </center>

  {{> footer}}
</html>
