<!DOCTYPE html>
<html>
  {{> header}}
  <center>
  <body>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>

    <h1>{{screamIt pageTitle}}</h1>
    <p>You can visit my Projects by clicking</p>
    <a href="https://github.com/salujaparam">Here</a>


  </body>
  </center>

  {{> footer}}
</html>
